@import url(https://fonts.googleapis.com/css2?family=Gluten&display=swap);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Latp', sans-serif;
}

.home, .gasefficiencyreports, .userprofile {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.gasvalue {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeimg {
  display:block;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

.gastext {
  display: flex;
  padding-left: 42%;
}