@import url(https://fonts.googleapis.com/css2?family=Gluten&display=swap);


.tripList {
  font-size: 1;
}

.tripinfo {
  font-family: monospace;
  padding-bottom: 2%;
  padding-left: 4%;
  display: flex;
}

.tripHisHeader {
  font-family: monospace;
}
