@import url(https://fonts.googleapis.com/css2?family=Gluten&display=swap);

.userp{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.btns {
    padding-top: 5%;
}

.profiletext {
    padding-bottom: 20%;
}

.confirmBtn {
    display: flex;
    align-items: center;
    justify-content: center;
}