@import url(https://fonts.googleapis.com/css2?family=Gluten&display=swap);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Latp', sans-serif;
}

.home, .gasefficiencyreports, .triphistory, .userprofile {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.gif{
  display: flex;
    justify-content: center;
 }