.sidebar {
    background-color: #3f3d77;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    color:rgb(255, 255, 255)
}

.side-menu {
    background-color: #3f3d77;
    width: 300px;
    height: 120vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.side-menu.active {
    left: 0;
    transition: 350ms;
}

.side-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
}

.side-text a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.side-text a:hover {
    background-color: #d0a3eb;
    color: black;
}

.side-menu-items {
    width: 100%;
}

.sidebar-toggle {
    background-color: #24234b;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: start;
    align-items: center;
}

span{
    margin-left: 16px;
}

.gif{
    text-align:center;
    height:100%;
    display:flex; 
    align-items:center;
    justify-content:center;
}